langchain==1.2.15
fastapi==0.136.1
sentence-transformers==5.4.1
pypdf==6.10.2
python-dotenv
langchain-groq==1.1.2
langchain-pinecone==0.2.13
langchain-community==0.4.1
langchain-text-splitters
langchain-huggingface==1.2.2
langchain-ollama==1.1.0
langchain-xai==1.2.2
fastapi[standard]

# -e .














